$navbar-default-bg:#08088A;

#logo{
	color:#5FFB17;
	float:left;
	letter-spacing:-1px;
	font-size:30px;
}

#logo:hover{
	color: #759B84;
	text-decoration: none;
}
.center{
	text-align:center;
}
.jumbotron{
	background-image: asset-url("ecommerce.png");
	height:550px;
}
.jumbotron h1{
	color:white;
	font-weight:bold;
}
footer {
margin-top: 45px;
padding-top: 5px;
border-top: 1px solid #eaeaea;
color: #777;
}

footer a:hover {
color: #222;
}

footer small {
float: left;
}

footer ul {
float: right;
list-style: none;
}

footer ul li {
float: left;
margin-left: 15px;
}



@import "bootstrap-sprockets";
@import "bootstrap";