<div class="container">
 <footer class="footer">
  <small>
    Copyright &copy <a href="www.commutatus.com">Commutatus</a> by <a href="https://www.linkedin.com/in/prayas-arora-116996143/">Prayas Arora</a>
  </small>
  <nav>
   <ul>
     <li><%= link_to "About", about_path %></li>
   </ul>
  </nav>
 </footer>
</div>